@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-white text-black;
}

/* For Firefox-specific styling */
::-moz-selection {
  @apply bg-white text-black;
}
body {
  background-color: black;
}

.hvr-sdw {
  @apply hover:border-blue-300 hover:shadow-btn hover:shadow-blue-300/90;
}

.sec-head {
  @apply font-semibold;
  font-size: 2.7rem;
  line-height: 3rem;
}
